@charset "UTF-8";
@import "navbar.css";
@import "components.css";
body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 16px;
	color: #000000;
	text-align: left;
	background-color: white;
}
hr {
	margin: 1rem 0;
	color: inherit;
	background-color: currentColor;
	border: 0;
	opacity: 0.25;
}
header.hero {
	position: relative;
	margin-bottom: 3rem;
	padding-top: calc(8rem + 57px);
	padding-bottom: 8rem;
	background: no-repeat center center;
	background-color: #6c757d;
	background-image: url('/images/home-bgd.png');
	background-size: cover;
	background-attachment: scroll;
}
header.hero .hero-title, header.hero .hero-text {
	color: #fff;
	text-align: center;
}
header.hero .hero-title, header.hero .hero-text {
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 1.1;
	display: block;
	margin-top: 0.625rem;
	font-family: 'Poppins', sans-serif;
}
header.hero .hero-title {
	font-family: 'Oleo Script Swash Caps', cursive;
}
header.hero .hero-title h1 {
	font-size: 3rem;
}
@media (min-width: 992px) {
	header.hero {
		padding-top: 12.5rem;
		padding-bottom: 12.5rem;
	}
	header.hero .hero-title h1 {
		font-size: 5rem;
	}
}
.blog-post > a {
	color: #212529;
	text-decoration: none;
}
.blog-post > a:focus, .blog-post > a:hover {
	text-decoration: none;
	color: #0085A1;
}
.blog-post > a > .card-body > .blog-post-title {
	font-size: 1.875rem;
	margin-top: .675rem;
	margin-bottom: 0.325rem;
}
.blog-post > a > .card-body > .blog-post-subtitle {
	font-size: 1.275rem;
	font-weight: 300;
}
.blog-post > .card-footer > .blog-post-meta {
	font-size: 1.125rem;
	font-style: italic;
	margin-left: 1rem;
	color: #6c757d;
	line-height: 1.5rem;
}
.blog-post > .card-footer > .user-image {
	margin-right: 1rem;
	max-height: 80px;
}
.blog-post > .blog-post-meta > a {
	text-decoration: none;
}
.blog-posts-container {
	width: 98.3%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 20px;
}
@media (min-width: 992px) {
	.blog-post > a > .blog-post-title {
		font-size: 2.25rem;
	}
	.blog-posts-container {
		width: 83.3%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: 20px;
	}
}